{% extends 'main.html' %}
{% block content %}
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<h3>Total number of items consumed today: {{cnt}}</h3>

<div class="today">
    <h2>Tracker</h2>
    <div class="flex-box-row">
        <h3>Calorie Limit: 2000</h3>
        <h3>Total Calories Consumed: {{total_calories}}</h3>
        <h3>Left: {{ calorie_left }}</h3>
    </div>

    <div class="card card-body">
        <table width="100%">
            <tr>
                <th width="(100/5)%">Food Item</th>
                <th width="(100/5)%">Calorie</th>
                <th width="(100/5)%">Carbs</th>
                <th width="(100/5)%">Fats</th>
                <th width="(100/5)%">Protein</th>
            </tr>
            {% for food in foodlist %}
            <tr>
                <td width="(100/5)%">{{food.name}}</td>
                <td width="(100/5)%"> {{food.calorie}}</td>
                <td width="(100/5)%"> {{food.carbohydrate}}</td>
                <td width="(100/5)%"> {{food.fats}}</td>
                <td width="(100/5)%"> {{food.protein}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="{% url 'add_fooditem' %}" method="POST">
        {%csrf_token%}
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myfilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<hr>
<h3>Available items:</h3>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>fooditem</th>
                    <th>Calorie</th>
                    <th>Carbs</th>
                    <th>Fats</th>
                    <th>Protein</th>
                </tr>
                {% for food in fooditem %}
                <tr>
                    <td>{{food.name}}</td>
                    <td> {{food.calorie}}</td>
                    <td> {{food.carbohydrate}}</td>
                    <td> {{food.fats}}</td>
                    <td> {{food.protein}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}